source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0
nuget Avalonia.Desktop
nuget Avalonia.Diagnostics
nuget Avalonia.Remote.Protocol
nuget Bogus
nuget FSharp.Core content: none
nuget FSharp.Compiler.Service
nuget JaggerJo.Avalonia.FuncUI
nuget JaggerJo.Avalonia.FuncUI.DSL
nuget JaggerJo.Avalonia.FuncUI.Elmish
nuget FSharp.Analyzers.SDK
nuget MessagePack.FSharpExtensions